# Services configuration file
# This file contains id, title, description, wrapper library name, service id, instance id for all available services, one row for every service
#
# id                                                           | title                       | description                                     | wrapper-lib-name | service-id | instance-id
# ===========================================================================================================================================================================================
abc.ahuc.actuatorcontroller.ACactions                          | VAC                         | Vehicle Actuator Control                        |                  | 0xDAD      | 0x1
com.space.shuttle.ocm.INotification                            | OCM Notification service    |                                                 |                  | 0x3E9      | 0x1
com.space.shuttle.ocm.IPush                                    | OCM Push service            |                                                 |                  | 0x3E8      | 0x1
